
* {margin: 0; padding: 0;}
ol,dl,ul {list-style: none;}
a {color:#000; text-decoration: none;}

.red {background-color: #ff0000 }
.black {background-color: #000;}
.yellow {background-color: yellow;}
.blue {background-color: blue;}

/* AB형 */
/* .container {width: 1200px; margin: 0 auto;}
.align-items-start {align-items: start;} */

/* C형 */
.container {width: 1000px;}

.w120 {width: 120px;}
.w200 {width: 200px;}
.w800 {width: 800px;}

/* common */
.d-flex {display: flex;}
.justify-content-between {justify-content: space-between;}
.rel {position: relative;}
.abs {position: absolute;}
.align-items-center {align-items: center;}
.align-items-start {align-items: start;}

.h100 {height: 100px;}
.h200 {height: 200px;}
.h300 {height: 300px;}


